@import './reset.scss';
@import './variables.scss';
@import './mixins.scss';

html {
  @include flex-column();
  height: 100%;
}

body {
  @include flex-column();
  flex: 1;
  background-image: url(https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3331&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  color: $primary-color;
  font-family: $primary-font;
  margin: 0;
  padding: 0;
  width: 100%;
  overscroll-behavior-y: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4 {
  font-family: $secondary-font;
  font-weight: bold;
	display: flex;
	align-items: center;
}

li,
ol,
p {
  margin: 16px 0;
}

nav {
  @include flex-cross-axis-center();
  background-color: $background-color;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: $primary-border;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.main {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  justify-content: center;
  padding-top: 51px;
  width: 100%;
}

main > section {
  @include flex-column();
  position: relative;
  width: 100%;
}

button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  padding: 8px;
}

.nav-bar__nav-tabs {
  @include flex-cross-axis-center();
  justify-content: space-around;
  flex-direction: row;
}

.nav-bar__nav-tabs > button {
  @include bold-font();
  @include flex-cross-axis-center();
  border-bottom: 4px solid transparent;
  font-family: $primary-font;
  height: 50px;
  width: 120px;
	transition: $primary-transition;
  &:hover {
    border-bottom: 4px solid $secondary-color;
  }
}

.nav-bar__home-search {
  @include flex-cross-axis-center();
}

.search-bar {
  @include flex-cross-axis-center();
  justify-content: end;
}

.search-bar__search-label {
  margin-right: 8px;
}

.search-bar__home-button {
  @include bold-font();
  @include flex-cross-axis-center();
  border-bottom: 4px solid transparent;
  color: $primary-color;
  font-family: $secondary-font;
	transition: $primary-transition;
  &:hover {
    color: $secondary-color;
    text-shadow: 1px 1px 2px $primary-color;
  } 
}

/* --------------- HOME VIEW ------------------- */

.search-glide-container {
  display: flex;
  justify-content: space-around;
  overflow-x: scroll;
  width: 100%;
  z-index: 1;
  position: fixed;
  bottom: 0;
  padding-bottom: 10px;
}

.search-glide__button {
  @include flex-cross-axis-center();
  background-color: $primary-color-light;
  border: $primary-border;
  border-radius: 50%;
  height: 100px;
  justify-content: center;
  min-width: 100px;
  overflow: hidden;
  position: relative;
	transition: $primary-transition;
  &:hover {
    cursor: pointer;
    box-shadow: $shadow;
  }
}

.search-glide__tag-name {
  @include bold-font();
  color: $white;
  font-family: $primary-font;
  text-align: center;
  transition: $primary-transition;
  z-index: 1;
}

.modal__button:hover,
.search-glide__button:hover,
.tag-selected {
  background-color: $secondary-color;
}

.main-title {
  top: 150px;
  color: $primary-color;
  font-family: $secondary-font;
  font-size: 85px;
  font-weight: 700;
  position: fixed;
  right: 40px;
  z-index: -1;
}

/* ----------- ALL RECIPES VIEW --------------- */
.searched-recipes-view__recipes-container,
.tagged-recipes-view__recipes-container,
.all-recipes-view,
.all-recipes-view-alt,
.weekly-recipes-view,
.favorites-view {
  @include flex-cross-axis-center();
  background-color: $transparent-white;
  padding: 20px;
  margin-top: 20px;
}

.recipes-container__search-results,
.weekly-recipes-view__recipes,
.tagged-recipes-view__recipes-container,
.all-recipes-view__recipes-container,
.recipes-container__no-results,
.favorites-view__favorites-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}

.all-recipes-view-alt {
  padding-right: 100px;
}

.recipes-container__no-results {
  font-size: 17px;
}

.recipes-container__recipe-card,
.search-results-container__recipe-card {
  @include flex-column();
  @include square(200px);
  text-align: center;
  border: 1px solid $primary-color-x-light;
  &:hover {
    cursor: pointer;
    box-shadow: $shadow;
  }
}

.search-glide__button:hover {
  cursor: pointer;
  box-shadow: $shadow;
}

.recipe-card__image {
  height: 125px;
  width: 200px;
}

.recipe-card__name {
  font-weight: bold;
  text-transform: capitalize;
  margin: 16px 5px 0 5px;
}


/* ---------- SINGLE RECIPE VIEW ----------- */

.single-recipe-view,
.single-recipe-view-alt {
  @include flex-cross-axis-center();
  background-color: $transparent-white;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.single-recipe-view-alt {
  padding-right: 190px;
}

.single-recipe-view__recipe-information {
  display: flex;
  justify-content: space-evenly;
}

.cook-recipe-button,
.recipe-button {
  @include flex-cross-axis-center();
  background-color: $white;
  border: 1px solid $primary-color-x-light;
  color: $secondary-color;
  width: 275px;
  transition: $primary-transition;
}

.recipe-button {
	width: 275px;
  margin: 15px 10px;
  padding: 5px;
  justify-content: center;
  gap: 8px;
  &:hover {
    background-color: $secondary-color;
    color: $white;
  }
}

.search-results,
.recipe-title,
.top-banner__title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 36px;
  text-transform: capitalize;
}

.recipe-image {
  margin-top: 25px;
  width: 600px;
  height: 400px;
}

.total-cost {
  @include flex-cross-axis-center();
  color: $secondary-color;
  font-weight: bold;
}

.recipe-buttons-container {
  display: flex;
}

.recipe-information__container {
  margin: 25px;
}

.single-recipe-view__instructions {
  margin: 20px 0;
  padding: 0 20px;
}

aside {
	position: fixed;
	background-color: $transparent-white;
	left: 0;
	padding: 20px;
	height: 100%;
	width: 150px;
	line-height: 50px;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.pantry-ingredients {
	overflow-y: scroll;
	/* height: 100%; */
}

/* ----- Favorites View ------- */
.no-weekly-recipes,
.recipes-container__no-favorites {
  @include flex-cross-axis-center();
  font-size: 20px;
  margin-top: 75px;
  text-align: center;
}

.modal,
.hidden {
  display: none;
}

.modal.is-open {
	display: block;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: $white;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
	display: block;
	padding: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.modal__footer {
	display: flex;
	justify-content: flex-end;
}

.modal__button {
	color: $white;
	background-color: $primary-color-light;
  border: 1px solid $primary-color;
	border-radius: 4px;
	margin: 5px;
	transition: all 0.2s ease-in-out;
}
