@import './reset.scss';
@import './variables.scss';
@import './mixins.scss';

html {
  @include flex-column();
  height: 100%;
}

body {
  @include flex-column();
  flex: 1;
  background-image: url(https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3331&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  color: $primary-color;
  font-family: $primary-font;
  margin: 0;
  padding: 0;
  width: 100%;
  overscroll-behavior-y: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4 {
  font-family: $secondary-font;
  font-weight: bold;
}

p {
  margin: 16px 0;
}

nav {
  @include flex-cross-axis-center();
  background-color: $background-color;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: $primary-border;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

main {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  justify-content: center;
  padding-top: 51px;
  width: 100%;
}

main > section {
  @include flex-column();
  position: relative;
  width: 100%;
}

button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  padding: 8px;
}

.nav-bar__nav-tabs {
  @include flex-cross-axis-center();
  justify-content: space-around;
  flex-direction: row;
}

.nav-bar__nav-tabs > button {
  @include bold-font();
  @include flex-cross-axis-center();
  border-bottom: 4px solid transparent;
  font-family: $primary-font;
  height: 50px;
  width: 120px;
	transition: all 0.2s ease-in-out;
}

.nav-bar__nav-tabs > button:hover {
  border-bottom: 4px solid $secondary-color;
}

.nav-bar__home-search {
  @include flex-cross-axis-center();
}

.search-bar {
  @include flex-cross-axis-center();
  justify-content: end;
}

.search-bar__search-label {
  margin-right: 8px;
}

.search-bar__home-button {
  @include bold-font();
  @include flex-cross-axis-center();
  border-bottom: 4px solid transparent;
  color: $primary-color;
  font-family: $secondary-font;
	transition: all 0.2s ease-in-out;
}

.search-bar__home-button:hover {
  color: $secondary-color;
  text-shadow: 1px 1px 2px $primary-color;
}


/* --------------- HOME VIEW ------------------- */

.search-ingredient-glide__images-container {
  display: flex;
  justify-content: space-around;
  overflow-x: scroll;
  width: 100%;
  z-index: 1;
}

.featured__featured-recipe-image-container {
  @include flex-column();
  flex: 1;
  overflow: hidden;
  position: relative;
}

.featured__featured-recipe-image {
  position: absolute;
  top: -40%;
  width: 100%;
}

.images-container__button {
  @include flex-cross-axis-center();
  background-color: $primary-color-light;
  border: $primary-border;
  border-radius: 50%;
  height: 100px;
  justify-content: center;
  min-width: 100px;
  overflow: hidden;
  position: relative;
	transition: all 0.2s ease-in-out;
}

.images-container__ingredient-name {
  @include bold-font();
  color: $white;
  font-family: $primary-font;
  text-align: center;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

.images-container__button:hover,
.tag-selected {
  background-color: $secondary-color;
}

.images-container__image {
  border: 4px solid $white;
  height: 300px;
  position: absolute;
}

.featured__search-ingredient-glide {
  position: fixed;
  bottom: 0;
  padding-bottom: 10px;
  width: 100%;
}

.featured__main-title {
  top: 150px;
  color: $primary-color;
  font-family: $secondary-font;
  font-size: 85px;
  font-weight: 700;
  position: fixed;
  right: 40px;
  z-index: -1;
}

.recipe-button:hover {
  background-color: $secondary-color;
  color: $white;
}


/* ----------- ALL RECIPES VIEW --------------- */
.searched-recipes-view__recipes-container,
.tagged-recipes-view__recipes-container,
.all-recipes-view,
.all-recipes-view-alt,
.weekly-recipes-view,
.favorites-view {
  @include flex-cross-axis-center();
  background-color: $transparent-white;
  padding: 20px;
  margin-top: 20px;
}

.recipes-container__search-results,
.weekly-recipes-view__recipes,
.tagged-recipes-view__recipes-container,
.all-recipes-view__recipes-container,
.recipes-container__no-results,
.favorites-view__favorites-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}

.all-recipes-view-alt {
  padding-right: 100px;
}

.recipes-container__no-results {
  font-size: 17px;
}

.recipes-container__recipe-card,
.search-results-container__recipe-card {
  @include flex-column();
  height: 200px;
  width: 200px;
  text-align: center;
  border: 1px solid $primary-color-x-light;
}

.images-container__button:hover,
.recipes-container__recipe-card:hover,
.search-results-container__recipe-card:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recipe-card__image {
  height: 125px;
  width: 200px;
}

.recipe-card__name {
  font-weight: bold;
  text-transform: capitalize;
  margin: 16px 5px 0 5px;
}


/* ---------- SINGLE RECIPE VIEW ----------- */

.single-recipe-view,
.single-recipe-view-alt {
  @include flex-cross-axis-center();
  background-color: $transparent-white;
  max-width: 1000px;
  margin: 0px auto;
  padding: 20px;
}

.single-recipe-view-alt {
  padding-right: 190px;
}

.single-recipe-view__recipe-information {
  display: flex;
  justify-content: space-evenly;
}

.recipe-button {
  @include flex-cross-axis-center();
  background-color: $white;
  border: 1px solid $primary-color-x-light;
  color: $secondary-color;
  width: 275px;
  transition: all 0.2s ease-in-out;
  margin: 15px 10px;
  padding: 5px;
  justify-content: center;
  gap: 8px;
}

.search-results,
.recipe-title,
.top-banner__title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 36px;
  text-transform: capitalize;
}

.recipe-image {
  margin-top: 25px;
  width: 600px;
  height: 400px;
}

.total-cost {
  @include flex-cross-axis-center();
  color: $secondary-color;
  font-weight: bold;
}

.recipe-buttons-container {
  display: flex;
}

.recipe-information__container {
  margin: 25px;
}

.single-recipe-view__instructions {
  margin: 20px 0;
  padding: 0 20px;
}

/* ----- Favorites View ------- */
.no-weekly-recipes,
.recipes-container__no-favorites {
  @include flex-cross-axis-center();
  font-size: 20px;
  margin-top: 75px;
  text-align: center;
}

.hidden {
  display: none;
}
