html {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  flex: 1;
  background-image: url(https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3331&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  color: #011936;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  overscroll-behavior-y: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4 {
  font-family: 'Quicksand', sans-serif;
}

nav {
  background-color: #E0E0E0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid #011936;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

h1 {
  margin: 0;
  color: #Ef5D60;
}

main {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  justify-content: center;
  padding-top: 51px;
  width: 100%;
}

main > section {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  padding: 8px;
}

.nav-bar__nav-tabs {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.nav-bar__nav-tabs > button {
  border-bottom: 4px solid transparent;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  align-items: center;
  width: 120px;
}

.nav-bar__nav-tabs > button:hover {
  border-bottom: 4px solid #Ef5D60;
}

.nav-bar__home-search {
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
  justify-content: end;
  align-items: center;
}

.search-bar__search-label {
  margin-right: 8px;
}


/* --------------- HOME VIEW ------------------- */

.search-ingredient-glide__images-container {
  display: flex;
  justify-content: space-around;
  overflow-x: scroll;
  width: 100%;
  z-index: 1;
}

.featured__featured-recipe-image-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.featured__featured-recipe-image {
  position: absolute;
  top: -40%;
  width: 100%;
}

.images-container__button {
  align-items: center;
  background-color: #485A68;
  border: 1px solid #011936;
  border-radius: 50%;
  display: flex;
  height: 100px;
  justify-content: center;
  min-width: 100px;
  overflow: hidden;
  position: relative;
}

.images-container__ingredient-name {
  color: #fff;
  font-size: 16px;
  font-family: 'Raleway';
  font-weight: 700;
  text-align: center;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

.images-container__button:hover,
.tag-selected {
  background-color: #Ef5D60;
}

.images-container__image {
  border: 4px solid #fff;
  height: 300px;
  position: absolute;
}

.featured__search-ingredient-glide {
  position: fixed;
  bottom: 0;
  padding-bottom: 10px;
  width: 100%;
}

.featured__main-title {
  top: 100px;
  color: #011936;
  font-family: 'Quicksand';
  font-size: 85px;
  font-weight: 700;
  position: absolute;
  right: 40px;
  z-index: 1;
}

.recipe-button:hover {
  background-color: #Ef5D60;
  color: #fff;
}


/* ----------- ALL RECIPES VIEW --------------- */
.searched-recipes-view__recipes-container,
.tagged-recipes-view__recipes-container,
.all-recipes-view,
.all-recipes-view-alt,
.weekly-recipes-view,
.favorites-view {
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  align-items: center;
}

.weekly-recipes-view__recipes,
.tagged-recipes-view__recipes-container,
.all-recipes-view__recipes-container,
.recipes-container__no-results,
.favorites-view__favorites-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}

.all-recipes-view-alt {
  padding-right: 100px;
}

.recipes-container__no-results {
  font-size: 17px;
}

.recipes-container__recipe-card,
.search-results-container__recipe-card {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid lightgrey;
}

.images-container__button:hover,
.recipes-container__recipe-card:hover,
.search-results-container__recipe-card:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recipe-card__image {
  height: 125px;
  width: 200px;
}

.recipe-card__name {
  font-weight: bold;
  text-transform: capitalize;
}

.top-banner__title {
  font-size: 2rem;
  margin-top: 15px;
}

/* ---------- SEARCHED RECIPE VIEW -------------- */

.search-results {
  font-size: 30px;
  font-style: italic;
  display: flex;
  justify-content: center;
}

.recipes-container__search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px 90px 0px 90px;
}

.search-results-container__recipe-card {
  margin: 0px 25px 40px 25px;
}

/* ---------- SINGLE RECIPE VIEW ----------- */

.single-recipe-view,
.single-recipe-view-alt {
  background-color: rgba(255, 255, 255, 0.85);
  max-width: 1000px;
  margin: 0px auto;
  display: flex;
  align-items: center;
}

.single-recipe-view-alt {
  padding-right: 190px;
}

.single-recipe-view__recipe-information {
  display: flex;
  justify-content: space-evenly;
}

.recipe-button {
  background-color: #fff;
  border: 1px solid lightgrey;
  color: #Ef5D60;
  width: 275px;
  transition: all 0.2s ease-in-out;
  margin: 15px 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.recipe-title,
.top-banner__title {
  margin-top: 30px;
  font-size: 36px;
  text-transform: capitalize;
}

.recipe-image {
  margin-top: 25px;
  width: 600px;
  height: 400px;
}

.total-cost {
  color: #Ef5D60;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.recipe-buttons-container {
  display: flex;
}

.recipe-information__container {
  margin: 25px;
}

.single-recipe-view__instructions {
  margin: 20px 0;
  padding: 0 20px;
}

/* ----- Favorites View ------- */
.no-weekly-recipes,
.recipes-container__no-favorites {
  align-items: center;
  display: flex;
  font-size: 20px;
  margin-top: 75px;
  text-align: center;
}

.hidden {
  display: none;
}
