html {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  flex: 1;
  color: #011936;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  overscroll-behavior-y: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4, #weekOne, #weekTwo, #weekThree, #weekFour {
  font-family: 'Quicksand', sans-serif;
}

nav {
  background-color: #E0E0E0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid #011936;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

h1 {
  margin: 0;
  color: #Ef5D60;
}

main {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  justify-content: center;
  padding-top: 51px;
  width: 100%;
}

main > section {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  padding: 8px;
}

.nav-bar__nav-tabs {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.nav-bar__nav-tabs > button {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  align-items: center;
  width: 120px;
}

.nav-bar__nav-tabs > button:hover {
  border-bottom: 4px solid #Ef5D60;
}

.nav-bar__home-search {
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
  justify-content: end;
  align-items: center;
}

.search-bar__search-label {
  margin-right: 8px;
}

/* --------------- HOME VIEW ------------------- */

.search-ingredient-glide__images-container {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  width: 100%;
}

.featured__featured-recipe-image-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.featured__featured-recipe-image {
  position: absolute;
  width: 100%;
}

.images-container__button {
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: center;
  min-width: 200px;
  overflow: hidden;
  position: relative;
}

.images-container__ingredient-name {
  border: 1px solid #011936;
  background-color: white;
  padding: 6px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  width: 80px;
  z-index: 1;
}

.tag-selected {
  background-color: #Ef5D60;
}

.images-container__image{
  border: 4px solid #fff;
  height: 300px;
  position: absolute;
}

.featured__search-ingredient-glide {
  padding: 0 10px 10px;
}

.featured__save-recipe-button {
  background-color: #fff;
  border: 1px solid #011936;
  bottom: 20px;
  color: #Ef5D60;
  font-size: larger;
  height: 40px;
  position: absolute;
  right: 20px;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

.featured__save-recipe-button:hover,
.recipe-button:hover {
  background-color: #Ef5D60;
  color: #fff;
}

/* ----------- ALL RECIPES VIEW --------------- */

.all-recipes-view {
  display: flex;
  align-items: center;
}

.tagged-recipes-view__recipes-container,
.all-recipes-view__recipes-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  gap: 10px;
  padding: 20px;
}

.recipes-container__recipe-card {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid lightgrey;
}

.recipes-container__recipe-card:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recipe-card__image {
  height: 125px;
  width: 200px;
}

.recipe-card__name {
  font-weight: bold;
  text-transform: capitalize;
}

.top-banner__title {
  font-size: 2rem;
  margin-top: 15px;
}

/* ---------- SINGLE RECIPE VIEW ----------- */

.single-recipe-view {
  max-width: 1000px;
  margin: 0px auto;
  display: flex;
  align-items: center
}

.single-recipe-view__recipe-information {
  display: flex;
  justify-content: space-evenly;
}

.recipe-button {
  background-color: #fff;
  border: 1px solid lightgrey;
  color: #Ef5D60;
  width: 275px;
  transition: all 0.2s ease-in-out;
  margin: 15px 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.recipe-title {
  margin-top: 30px;
  font-size: 36px;
  text-transform: capitalize;
}

.recipe-image {
  margin-top: 25px;
  width: 600px;
  height: 400px;
}

.total-cost {
  color: #Ef5D60;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.recipe-buttons-container {
  display: flex;
}

.recipe-information__container {
  margin: 25px;
}

.single-recipe-view__instructions {
  margin: 20px 0;
}

.hidden {
  display: none;
}
